body {
  background-image: url("https://wallpaperscraft.com/image/paper_background_crumpled_shadow_50427_1600x900.jpg");
}

h3 {
  text-align: center;
  font-family: Papyrus, fantasy;
  color: red;
  font-size: 36px;
}

.war-header {
  width: 800px;
  margin: auto;

}

.playerWinsRound {
  color: white;
  text-align: center;
  font-family: Papyrus, fantasy;
  margin-top: 10px;
}

.computerWinsRound {
  color: white;
  text-align: center;
  font-family: Papyrus, fantasy;
  margin-top: 10px;

}

.war {
  text-align: center;

  color: silver;
  text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,
       4px 20px 1px #B00000,
       4px 22px 1px #C00000,
       4px 24px 1px #D00000,
       4px 26px 1px #E00000,
       4px 28px 1px #F00000,
       4px 30px 1px #FA0000,
       4px 32px 1px #FB0000,
       4px 34px 1px #FC0000,
       4px 36px 1px #FD0000,
       4px 38px 1px #FE0000,
       4px 40px 2px #FF0000;
  font-size: 90px;
}

.clickers {
  width: 400px;
  margin: auto;
}

.rules {
  width: 130px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 120px;
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
}

.rules:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
.play {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
}

.play:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.draw {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 325px;
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  font-family: Papyrus, fantasy;
  font-size: 35px;
  cursor: pointer;

}

.draw:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.goBack {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 170px;
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  font-family: Papyrus, fantasy;
  font-size: 35px;
  cursor: pointer;

}

.goBack:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#pTag {
  font-family: Papyrus, fantasy;
  font-size: 23px;
  color: white;
  margin: 20px;
}




.scores {
  margin-left: 30px;
}

.playerScore {
  font-family: Papyrus, fantasy;
  font-size: 20px;
  color: #bee;
  display: inline-block;
  float: right;
  margin-right: 39%;

}

.computerScore {
  font-family: Papyrus, fantasy;
  font-size: 20px;
  margin-left: 33%;
  color: #bee;
  display: inline-block;


}

.cards {


}
.resetButton {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 150px;
  margin-bottom: 200px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  font-family: Papyrus, fantasy;
  font-size: 35px;
  cursor: pointer;
}

.resetButton:hover {
  background: white;
  color: black;
  border: 1px solid black;
}




.card1 {
  width: 150px;
  height: 250px;
  font-size: 40px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  margin-left: 33%;
  display: inline-block;
}

.card2 {
  width: 150px;
  font-size: 40px;
  height: 250px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  float: right;
  margin-right: 34.5%;
  display: inline-block;

}



.card3 {
  width: 150px;
  font-size: 40px;
  height: 250px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  margin-right: 34.5%;
  margin-top: 5px;
  border-radius: 15px;
  float: right;
  display: inline-block;


}
.card4 {
  width: 150px;
  font-size: 40px;
  height: 250px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  float: left;
  margin-left: 33%;
  margin-top: 5px;
  display: inline-block;
}

.card5 {
  width: 150px;
  font-size: 40px;
  height: 250px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  float: left;
  margin-left: 33%;
  margin-top: 5px;
  display: inline-block;

}
.card6 {
  width: 150px;
  font-size: 40px;
  height: 250px;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
  margin-top: 5px;
  border-radius: 15px;
  float:right;
  margin-right: 34.5%;

}













